{% extends 'base.html' %}

{% block content %}
    <div class="container m-3" style="padding: 20px">
    <h2>About Us</h2>
        <div class="row" style="margin: 10px;">
            <div class="col-md-6" style="padding: 150px 100px; background-size: cover;
               background-image: url('https://hips.hearstapps.com/hmg-prod/images/plant-guide-1663941701.jpg?crop=0.841xw:1.00xh;0.0817xw,0&resize=1200:*');">
            </div>
            <div class="col-md-6" style="padding: 20px;">
                <p>Welcome to our online haven, where nature thrives and your living spaces come to life. At PlantShop, we are more than just a shop; we are a flourishing garden of inspiration, dedicated to bringing the beauty and vitality of unique indoor plants into your world.
                Step into a world of green wonder as you explore our curated collection of extraordinary indoor plants. Our virtual aisles are adorned with a diverse array of botanical treasures, each handpicked to infuse your surroundings with a touch of natural elegance. From lush foliage that dances with the sunlight to captivating blooms that evoke a symphony of colors, our plants are poised to transform your space into a vibrant sanctuary.</p>
            </div>
        </div>
        <div class="row" style="margin: 10px">
            <div class="col-md-6" style="padding: 20px;">
                <p>But it's not just about the plants themselves—it's about the experience we offer. At PlantShop, we understand that nurturing your newfound green companions is a journey of growth and connection. That's why we don't just sell plants; we empower you with the knowledge and resources you need to cultivate a thriving indoor garden. From expert care tips to personalized guidance, we're here to ensure that your plants not only survive but thrive under your loving care.

Our mission is to make the world greener, one home at a time. We believe that every leaf unfurled and every petal unfurled adds a brushstroke of beauty to the canvas of life. Join us in this green adventure and awaken the dormant artist within you as you sculpt your living spaces into blooming expressions of your unique personality.</p>
            </div>
            <div class="col-md-6" style="padding: 150px 100px; background-size: cover;
        background-image: url('https://www.bensonsforbeds.co.uk/product_images/uploaded_images/adobestock-223554141-min-1-.jpeg');">
            </div>
        </div>
    </div>


{% endblock %}
