<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <style>
        body{
            color: #206A5D;
        }
    </style>
</head>
<body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid" style="padding:0px 30px">
                <a href="/">
                    <img class="navbar-brand"  style="width:50px" src="https://media.istockphoto.com/id/1045368738/vector/element-for-eco-and-bio-logo-green-leaf-icon.jpg?s=612x612&w=0&k=20&c=to_4wqJ7n2TGG5mOi7YKVQ7kwaChXWReMtzkS6zezSc=">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                        <li class="nav-item"><a class="nav-link" aria-current="page" href="/plants/">Plants</a></li>
                        <li class="nav-item"><a class="nav-link" href="/care/">Care</a></li>
                        <li class="nav-item"><a class="nav-link" href="/aboutus/">About Us</a></li>
                    </ul>
                    <form class="d-flex" style="padding: 0px 10px" method="GET" action="{% url 'search_plants' %}">
                        <input class="form-control me-2" type="search" name="query" aria-label="Search">
                        <button class="btn btn-outline-success" type="submit">Search</button>
                    </form>
                    <form class="d-flex" style="padding: 0px 10px">
                        <button class="btn btn-outline-success" type="submit">
                            <i class="bi-cart-fill me-1"></i>
                            <a href="/shoppingCart/">
                                Shopping Cart
                            </a>
                        </button>
                    </form>
                    <form class="d-flex" style="padding: 0px 10px">
                        {% if user.is_authenticated %}
                            <p>Welcome,</p>
                            <a href="{% url 'profile' %}">{{ user.username }}!</a>
                        {% else %}
                            <a href="{% url 'login' %}">Login</a>
                        {% endif %}
                    </form>
                </div>
            </div>
        </nav>
        <div class="content">
            {% block content %}
            {% endblock %}
        </div>
        <div style="width: 100%;">
          <footer
                  class="text-center text-lg-start text-white"
                  style="background-color: #80C56E"
                  >
            <div class="container p-4 pb-0">
              <section class="">
                <div class="row">
                  <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
                    <h6 class="text-uppercase mb-4 font-weight-bold">
                      Company name
                    </h6>
                    <p>
                        E-shop for plants based in Skopje.
                        We provide a variety of plants on our website.
                        Get all the plants you want here!
                    </p>
                  </div>

                  <hr class="w-100 clearfix d-md-none" />

                  <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
                    <h6 class="text-uppercase mb-4 font-weight-bold">Products</h6>
                    <p>
                      <a class="text-white">Plants</a>
                    </p>
                    <p>
                      <a class="text-white">Tool</a>
                    </p>
                    <p>
                      <a class="text-white">Care</a>
                    </p>
                  </div>

                  <hr class="w-100 clearfix d-md-none" />

                  <hr class="w-100 clearfix d-md-none" />

                  <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
                    <h6 class="text-uppercase mb-4 font-weight-bold">Address</h6>
                    <p><i class="fas fa-home mr-3"></i> ul 1. br. 2 Skopje, Macedonia</p>
                    <p><i class="fas fa-envelope mr-3"></i> plant_shop@gmail.com</p>
                  </div>

                  <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
                    <h6 class="text-uppercase mb-4 font-weight-bold">Contact</h6>
                        <p><i class="fas fa-phone mr-3"></i> + 02 2345 678 </p>
                        <p><i class="fas fa-print mr-3"></i> + 389 07 123 456</p>
                  </div>
                </div>
              </section>
            </div>

            <div
                 class="text-center p-3"
                 style="background-color: rgba(0, 0, 0, 0.2)"
                 >
              © 2023 Copyright:
              <a class="text-white" href="https://mdbootstrap.com/">
                  Jana Petrushevska
              </a>
            </div>
          </footer>
        </div>
</body>