{% extends 'base.html' %}

{% block content %}
    <div class="container m-3" style="padding: 20px">
    <h2 style="padding: 20px;">Plant Care: Nurturing Nature's Elegance</h2>
        <div class="row" style="margin: 10px">
            <div class="col-md-6" style="padding: 20px;">
                At PlantShop, we're not just passionate about offering you exquisite indoor plants; we're equally dedicated to ensuring that your green companions thrive and flourish under your care. Just as each plant is unique, so are the care techniques required to keep them healthy and vibrant. Drawing inspiration from trusted sources like The Sill and Better Homes & Gardens, we've distilled their top plant care insights into a comprehensive guide tailored to your indoor garden's success.
                <br> <br>
                1. Right Light, Right Life: Just like us, plants crave sunlight, but not all plants require the same amount. Discover the perfect spot in your home where your green darlings can bask in the right amount of light. Whether it's bright and direct sunlight or gentle filtered rays, finding their 'sweet spot' will ensure optimal growth.
                <br>
                2. Water Wisely: Hydration is key, but overwatering can be detrimental. The frequency and amount of water your plants need vary, so observe their soil moisture and adjust your watering routine accordingly. Remember, it's better to underwater slightly than to drown their roots.
                <br>
                3. Soil Secrets: The foundation of plant health lies in the soil. Different plants thrive in different soil compositions. Whether it's well-draining soil for succulents or moisture-retentive soil for tropical foliage, selecting the right potting mix can make all the difference.
                <br>
                4. Temperature Tendering: Indoor plants have temperature preferences too. Be mindful of their comfort zone—some like it warm and tropical, while others prefer cooler environs. Protect them from drafts and sudden temperature fluctuations to ensure their well-being.
                <br>
                5. Feeding Finesse: Like any living being, plants need nourishment. Regular fertilization provides the essential nutrients they require to flourish. Follow a feeding schedule appropriate for each plant's growth phase, and watch them thrive.
                <br>
                6. Pruning Principles: Don't be afraid to give your plants a little trim! Pruning encourages healthy growth by removing dead or overgrown parts. Plus, it can enhance their aesthetic appeal, turning your indoor oasis into a work of art.
                <br>
                7. Pest Vigilance: A watchful eye is your best defense against unwanted pests. Regularly inspect your plants for any signs of infestation, and take immediate action to keep your green family safe.
                <br>
                8. Repotting Rituals: As your plants grow, they may outgrow their homes. Repotting provides them with the space they need to stretch their roots and thrive. Monitor their growth and give them the gift of a larger container when the time comes.
                <br>
                At PlantShop, we're more than an online shop; we're your partner in nurturing nature's elegance within your living spaces. Armed with these insights, embark on a journey of care and connection with your indoor garden, transforming it into a thriving tapestry of life and beauty. Remember, every leaf you nurture and every bloom you coax into existence is a testament to the power of your green thumbs and a testament to the harmony between nature and nurture.
            </div>
            <div class="col-md-6" style="padding: 150px 100px; background-size: cover;
        background-image: url('https://images.pexels.com/photos/7342628/pexels-photo-7342628.jpeg?cs=srgb&dl=pexels-antoni-shkraba-7342628.jpg&fm=jpg');">
            </div>
        </div>
    </div>


{% endblock %}
