{% extends 'base.html' %}

{% block content %}
    <div class="container-fluid" style="padding: 30px;">
        <h1>Color your world in green!</h1>
        <header class="bg-dark" style="padding: 150px 100px; background-size: cover;
        background-image: url('https://hips.hearstapps.com/hmg-prod/images/plant-guide-1663941701.jpg?crop=0.841xw:1.00xh;0.0817xw,0&resize=1200:*');">
            <div class="container">
                <div class="m-3" style="text-align: right;background-color: rgba(255, 255, 255, 0.8); padding: 20px;">
                    <p style="font-size: 28px" class="display-4 fw-bolder">
                        An online shop that blooms <br>
                        with unique indoor plants
                    </p>
                    <p style="font-size: 18px" class="lead fw-normal mb-0">
                        Make your space more alive with <br>
                        some of the indoor plants we offer<br>
                        and give them the proper care!
                    </p>
                </div>
            </div>
        </header>
    </div>
    <div class="container m-3">
        <div class="row d-flex">
            <h2>Pothos</h2>
            {% for plant in pothos %}
                <div class="card col-6 m-3" style="width: 250px; padding: 10px;">
                    <img class="card-img-top col-8 m-3" src="{{ plant.photo.url }}" alt="{{ plant.name }}" style="width: 200px;height: 200px;" Photo>
                    <h4 class="card-title">{{ plant.name }}</h4>
                    <p class="card-text">{{ plant.price }} den.</p>
                    <button class="btn btn-success col-6"><a style="color: white" href="{% url 'singlePlant' plant.code %}">View Details</a></button>
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="container m-3">
        <div class="row d-flex">
        <h2>Calathea</h2>
            {% for plant in calathea %}
                <div class="card col-6 m-3" style="width: 250px">
                    <img class="card-img-top col-8 m-3" src="{{ plant.photo.url }}" alt="{{ plant.name }}" style="width: 200px;height: 200px;" Photo>
                    <h4 class="card-title">{{ plant.name }}</h4>
                    <p class="card-text">{{ plant.price }} den.</p>
                    <button class="btn btn-success col-6"><a style="color: white" href="{% url 'singlePlant' plant.code %}">View Details</a></button>
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="container m-3">
        <div class="row d-flex">
        <h2>Rare Plants</h2>
            {% for plant in rarePlants %}
                <div class="card col-6 m-3" style="width: 250px">
                    <img class="card-img-top col-8 m-3" src="{{ plant.photo.url }}" alt="{{ plant.name }}" style="width: 200px;height: 200px;" Photo>
                    <h4 class="card-title">{{ plant.name }}</h4>
                    <p class="card-text">{{ plant.price }} den.</p>
                    <button class="btn btn-success col-6"><a style="color: white" href="{% url 'singlePlant' plant.code %}">View Details</a></button>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
