{% extends 'base.html' %}

{% block content %}

    <div class="container m-3 d-flex justify-content-center align-items-center" style="padding: 20px;padding: 100px 0px 0px 0px">
    <div class="text-center">
        <h2 style="padding: 20px;">Successful Payment</h2>
        <img class="mx-auto" style="width: 200px; padding: 30px" src="https://cdn-icons-png.flaticon.com/512/148/148767.png">
        <h5>Your payment was successful! You can now <a href="/">continue using PlantShop.</a></h5>
        <p>Check your email for the detailed transaction.</p>
        <br>
    </div>
</div>


{% endblock %}
